<p id="notice"><%= notice %></p>


<div class="row">
	<div class="col-md-12">
	<div class="well">
<p>
 <p><%= image_tag @artist.avatar.url(:medium) ,class: "thumb" %></p>
 	<h3>  <%= @artist.name %> </h3>
</p>

<p>
  <%= @artist.bio %>
</p>

</div>
</div>
</div>
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
